{% extends "OCPlatformBundle::layout.html.twig" %}


{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block menu_annonces %}
    <h3>Annonces</h3>
        <ul class="nav nav-pills nav-stacked">
          <li><a href="{{ path('oc_platform_home') }}">Les annonces</a></li>
          <li><a href="{{ path('oc_platform_add') }}">Ajouter une annonce</a></li>
        </ul>
{% endblock %}
{% block ocplatform_body %}
  <h2>Liste des annonces</h2>
  <ul>
    {% for advert in listAdverts %}
      <li>
        <a href="{{ path('oc_platform_view', {'id': advert.id}) }}">
          {{ advert.title }}
        </a>
        par {{ advert.author }},
        le {{ advert.date|date('d/m/Y') }}
      </li>
    {% else %}
      <li>Pas (encore !) d'annonces</li>
    {% endfor %}
  </ul>
{% endblock %}
